@font-face {
  font-family: roboto bold;
  src: url(../assets/fonts/Roboto/Roboto-BoldItalic.ttf) format(ttf);
}

header {
  width: 100%;
  background-color: #001529;
  padding: 10px 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  top: 0;
  font-family: roboto bold;
}

header h3 {
  font-weight: 550;
  color: #fff;
  border: 1px solid #fff;
  padding: 0 5px;
  border-radius: 5px;
}
