footer {
  background-color: #001529;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  color: #a4a4a4;
  font-weight: 300;
}

footer span {
  font-weight: 500;
  color: #fff;
}
