.App {
  background-color: #f0f0f0;
  padding-top: 30px;
}

.container {
  margin-bottom: 50px;
}

/* Card */
.box-wrap {
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px;
}

.box {
  width: 60%;
  background-color: #001529;
  color: #fff;
  overflow: auto;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.box:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
  transition: 0.3s;
}

.box-title {
  margin-bottom: 20px;
}

.box-content {
  letter-spacing: 1.15px;
  font-weight: 300;
}

.box-date {
  color: #a4a4a4;
  font-weight: 300;
}

.box-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.btn-delete {
  margin-right: 20px;
}

.container-update{
  background-color:gray;
  border-radius: 20px;
  display: flex;
  justify-content: center;

}